<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>头像</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>名字</string>
		</dict>
		<dict>
			<key>title</key>
			<string>公司</string>
		</dict>
		<dict>
			<key>title</key>
			<string>职位</string>
		</dict>
	</array>
	<array>
        <dict>
            <key>title</key>
            <string>手机号</string>
        </dict>
		<dict>
			<key>title</key>
			<string>邮箱</string>
		</dict>
		<dict>
			<key>title</key>
			<string>地区</string>
		</dict>
		<dict>
			<key>title</key>
			<string>详细地址</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>履历</string>
		</dict>
	</array>
</array>
</plist>
