<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>row</key>
			<string></string>
			<key>name</key>
			<string>张艳东</string>
			<key>icon</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>我的动态</string>
			<key>icon</key>
			<string>me_write.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string>1</string>
			<key>name</key>
			<string>我的项目</string>
			<key>icon</key>
			<string>discovery_xiangmu.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>我是投资人</string>
			<key>icon</key>
			<string>me_yes.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>设置</string>
			<key>icon</key>
			<string>me_setting.png</string>
		</dict>
	</array>
</array>
</plist>
