<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>编辑个人资料</string>
			<key>content</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关于微链</string>
			<key>content</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>给我评分</string>
			<key>content</key>
			<string></string>
		</dict>
	</array>
    <array>
        <dict>
            <key>title</key>
            <string>用户交流QQ群</string>
            <key>content</key>
            <string>264772171</string>
        </dict>
        <dict>
            <key>title</key>
            <string>微信服务号</string>
            <key>content</key>
            <string>welian123</string>
        </dict>
        <dict>
            <key>title</key>
            <string>微信订阅号</string>
            <key>content</key>
            <string></string>
        </dict>
    </array>
</array>
</plist>
