<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>stage</key>
            <integer>0</integer>
            <key>stagename</key>
            <string>种子轮</string>
        </dict>
        <dict>
            <key>stage</key>
            <integer>1</integer>
            <key>stagename</key>
            <string>天使轮</string>
        </dict>
        <dict>
            <key>stage</key>
            <integer>2</integer>
            <key>stagename</key>
            <string>pre-A轮</string>
        </dict>
        <dict>
            <key>stage</key>
            <integer>3</integer>
            <key>stagename</key>
            <string>A轮</string>
        </dict>
        <dict>
            <key>stage</key>
            <integer>4</integer>
            <key>stagename</key>
            <string>B轮</string>
        </dict>
        <dict>
            <key>stage</key>
            <integer>5</integer>
            <key>stagename</key>
            <string>C轮</string>
        </dict>
    </array>
</plist>
