<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>我的动态</string>
			<key>icon</key>
			<string>me_write.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string>1</string>
			<key>name</key>
			<string>我的活动</string>
			<key>icon</key>
			<string>discovery_calendar.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string>2</string>
			<key>name</key>
			<string>我的项目</string>
			<key>icon</key>
			<string>me_xiangmu.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>投资信息</string>
			<key>icon</key>
			<string>me_touzi.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string>1</string>
			<key>name</key>
			<string>我的履历</string>
			<key>icon</key>
			<string>me_lvli.png</string>
		</dict>
	</array>
</array>
</plist>
