<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>安徽</string>
		<key>pid</key>
		<string>23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福建</string>
		<key>pid</key>
		<string>16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>甘肃</string>
		<key>pid</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广东</string>
		<key>pid</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广西</string>
		<key>pid</key>
		<string>17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贵州</string>
		<key>pid</key>
		<string>24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海南</string>
		<key>pid</key>
		<string>21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>河北</string>
		<key>pid</key>
		<string>25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑龙江</string>
		<key>pid</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>河南</string>
		<key>pid</key>
		<string>30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>湖北</string>
		<key>pid</key>
		<string>15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>湖南</string>
		<key>pid</key>
		<string>26</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江苏</string>
		<key>pid</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江西</string>
		<key>pid</key>
		<string>31</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吉林</string>
		<key>pid</key>
		<string>9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>辽宁</string>
		<key>pid</key>
		<string>19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>内蒙古</string>
		<key>pid</key>
		<string>22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宁夏</string>
		<key>pid</key>
		<string>20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青海</string>
		<key>pid</key>
		<string>11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山东</string>
		<key>pid</key>
		<string>8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山西</string>
		<key>pid</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陕西</string>
		<key>pid</key>
		<string>27</string>
	</dict>
	<dict>
		<key>name</key>
		<string>四川</string>
		<key>pid</key>
		<string>32</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新疆</string>
		<key>pid</key>
		<string>12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西藏</string>
		<key>pid</key>
		<string>13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>云南</string>
		<key>pid</key>
		<string>28</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浙江</string>
		<key>pid</key>
		<string>29</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>pid</key>
		<string>131</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津</string>
		<key>pid</key>
		<string>332</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆</string>
		<key>pid</key>
		<string>132</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>pid</key>
		<string>289</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香港</string>
		<key>pid</key>
		<string>2911</string>
	</dict>
	<dict>
		<key>name</key>
		<string>澳门</string>
		<key>pid</key>
		<string>2912</string>
	</dict>
</array>
</plist>
