<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>row</key>
			<string></string>
			<key>name</key>
			<string>观点</string>
			<key>icon</key>
			<string>discovery_viewpoint.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string></string>
			<key>name</key>
			<string>活动</string>
			<key>icon</key>
			<string>discovery_calendar.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>项目</string>
			<key>icon</key>
			<string>me_xiangmu.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string>1</string>
			<key>name</key>
			<string>投资人</string>
			<key>icon</key>
			<string>me_touzi.png</string>
		</dict>
	</array>
    <array>
        <dict>
            <key>row</key>
            <string>0</string>
            <key>name</key>
            <string>一起玩</string>
            <key>icon</key>
            <string>me_xiangmu.png</string>
        </dict>
    </array>
</array>
</plist>
