::-webkit-scrollbar {
    width: 0;
}
* {
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    height: inherit;
}
h1, h2, h3, h4, h5, h6, button, p {
    margin: 0;
    padding: 0;
}
button:focus, button:active {
    outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}
.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.app-bar {
    background-color: #3474ba;
    height: 44px;
    color: #fff;
    position: relative;
}
.app-bar h1 {
    font-weight: normal;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    position: relative;
}
.app-bar .app-bar-btn {
    position: absolute;
    top: 0;
    background-color: transparent;
    border-width: 0;
    font-size: 16px;
    height: inherit;
    color: #fff;
    min-width: 20%;
}
.app-bar .app-bar-btn-left {
    text-align: left;
    padding-left: 10px;
}
.app-bar .app-bar-btn-left:after {
    position: relative;
    top: -4px;
}
.app-bar .app-bar-btn-right {
    text-align: right;
    right: 0;
    padding-right: 10px;
}
.app-wrap {
    width: 100%;
    height: inherit;
    position: relative;
    overflow: hidden;
}
.app-page {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateX(100%);
    -webkit-transition: -webkit-transform .5s;
}
.app-page-selected {
    -webkit-transform: translateX(0);
}
.app-loading {
    text-align: center;
    color: #7d7d7d;
    line-height: 40px;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all .25s linear;
}
.app-loading img {
    position: relative;
    top: 10px;
    -webkit-animation: z 2s linear 0s infinite;
}
.app-scroll {
    position: relative;
    overflow-y: scroll;
}
.dropback {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: #000;
    opacity: 0;
    display: none;
}
.fade {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.in {
    opacity: 0.4;
}
.scroll-content {
    overflow: hidden;
}
@-webkit-keyframes z {
    from {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
    }
}
