.app-list .app-bar-btn-left:after {
    content: '返回';
}
.app-list .app-bar-btn-right .fa{
    font-size: 20px;
}
.app-list .filter {
    height: 44px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    position: relative;
    z-index: 99px;
}
.app-list .filter div {
    width: 50%;
    float: left;
    line-height: 44px;
    text-align: center;
    color: #9b9b9b;
    position: relative;
}
.app-list .filter .filter-time {
    border-right: 1px solid #e5e5e5;
}
.app-list .filter .fa {
    margin-right: 5px;
    font-size: 16px;
}
.app-list .filter .shape {
    position: absolute;
    right: 2px;
    bottom: 2px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent #e5e5e5 #e5e5e5 transparent;
}
.app-list .list .item {
    display: block;
    position: relative;
    padding: 15px;
    padding-left: 115px;
    height: 97px;
    border-bottom: 1px solid #e5e5e5;
}
.app-list .list .poster {
    width: 90px;
    height: 67px;
    overflow: hidden;
    background-color: #eee;
    position: absolute;
    top: 15px;
    left: 15px;
}
.app-list .list .poster img {
    width: 100%;
    height: 100%;
}
.app-list .list .poster .selected {
    position: absolute;
    left: 0;
    top: 5px;
    padding: 2px 7px 2px 5px;
    line-height: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 8px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.app-list .list .poster .selected .fa {
    -webkit-transform: scale(0.7, 0.7);
    position: relative;
    top: -4px;
}
.app-list .list .title {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.app-list .list .title h3 {
    font-size: 15px;
    font-weight: normal;
}
.app-list .list .data {
    font-size: 13px;
    color: #adadad;
    line-height: 20px;
    margin-top: 7px;
    height: 20px;
    overflow: hidden;
}
.app-list .list .data b {
    margin-right: 5px;
    color: #3474ba;
}
.app-list .list .data .fa {
    font-size: 14px;
    margin-right: 3px;
}
.app-list .list .city {
    margin-left: 10px;
}
.app-list .list .entry {
    float: right;
}
.app-list .history img {
    -webkit-filter: grayscale(100%);
}
.app-list .list .split {
    padding: 0;
    text-align: center;
    color: #adadad;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}
.app-list .list .nodata{
    line-height: 40px;
    text-align: center;
    color: #7d7d7d;
}
.app-list .history, .history b {
    color: #adadad !important;
}
.filterlist{
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 88px;
    z-index: 100;
    left: 0;
    -webkit-transition: all .5s;
}
.filterlist-time{
   -webkit-transform: translateX(-100%);
}
.filterlist-city{
    -webkit-transform: translateX(100%);
}
.filterlist>ul>li{
    padding: 13px;
    border-bottom: 1px solid #e5e5e5
}
.filterlist>ul>li .fa{
    float: right;
    color: #3474ba;
    display: none;
    position: relative;
    top: 3px;
}
.filterlist>ul>li.selected .fa{
    display: inline-block;
}
.app-list .dropback{
    top: 88px;
}