/* 
* @Author: 1
* @Date:   2014-12-10 15:26:04
* @Last Modified by:   1
* @Last Modified time: 2014-12-17 14:20:29
*/

.app-detail .app-bar {
    background-color: rgba(52, 116, 186, 1);
}
.app-detail .app-bar-btn-left:after {
    content: '返回';
}
.app-detail .app-bar-btn-right .fa {
    font-size: 20px;
}
.app-detail .app-content {
    background-color: #eceef1;
}
.app-detail .box {
    width: 100%;
    background-color: #fff;
    padding: 0 15px;
    overflow: hidden;
}
.app-detail .poster {
    position: relative;
    padding: 0;
    min-height: 147px;
}
.app-detail .poster>img {
    width: 100%;
}
.app-detail .title {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
.app-detail .title>h3 {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin: 15px;
}
.app-detail .state {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
}
.app-detail .property {
    position: relative;
    color: #7d7d7d;
    font-size: 14px;
    padding: 10px 0;
    padding-left: 20px;
}
.app-detail .property label {
    color: #3474ba;
}
.app-detail .property .fa {
    position: absolute;
    left: 0;
    top: 12px;
}
.app-detail .property span.fa {
    right: 0;
    left: inherit;
    top: 12px;
}
.app-detail .time i.fa {
    font-size: 16px;
}
.app-detail .address {
    padding-right: 15px;
}
.app-detail .address i.fa {
    font-size: 18px;
    left: 2px;
}
.app-detail .status span.fa {
    right: -5px;
}
.app-detail .status label, .app-detail .status span {
    margin: 0 5px;
}
.app-detail .context {
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 1.8em;
    padding: 15px;
}
.app-detail .context p {
    margin-bottom: 10px;
}
.app-detail .context h1, .app-detail .context h2, .app-detail .context h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.app-detail .guest {
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
}
.app-detail .guest h4 {
    color: #7d7d7d;
    font-size: 13px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
/*===========报名列表和嘉宾列表共用=======*/

.app-detail .item {
    position: relative;
    padding: 10px 0 10px 40px;
}
.app-detail .item .avatar {
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.app-detail .item .guest-name {
    line-height: 20px;
    font-size: 14px;
}
.app-detail .item .guest-company {
    font-size: 12px;
    color: #7d7d7d;
}
.app-detail .item .guest-company span {
    margin-right: 5px;
}
.app-detail .entries {
    width: 80%;
    height: inherit;
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 100;
    background-color: #fff;
    -webkit-transform: translateX(100%);
    -webkit-transition: all .5s;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.3);
}
.app-detail .entries .head {
    line-height: 34px;
    padding-left: 15px;
    font-size: 13px;
    background-color: #eceef1;
}
.app-detail .entries .head label {
    color: #3474ba;
    margin: 0 5px;
}
.app-detail .entries .head .fa {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 4px;
    color: #7d7d7d;
}
.app-detail .entries ul {
    padding-left: 15px;
}
.app-detail .entries .item .avatar {
    top: 13px;
}
.app-detail .entries .nodata {
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    margin-left: -15px;
}
.app-detail .entries.in {
    opacity: 1;
    -webkit-transform: translateX(0);
}
.app-detail .dropback {
    top: 44px;
}
.app-detail .entry-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 51px;
    border-top: 1px solid #b2b2b2;
    background-color: #eeeeee;
    padding: 5px 20px;
    z-index: 98;
}
.app-detail .entry-button button {
    display: block;
    background-color: #4fc0e8;
    width: inherit;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.app-detail .entry-button button.over {
    background-color: #c1cacd;
}
.app-detail .ticket {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    color: #7d7d7d;
    border-top: 1px solid #b2b2b2;
    background-color: #eeeeee;
    z-index: 97;
}
.app-detail .ticket .top {
    padding: 5px 20px;
    line-height: 27px;
    border-bottom: 1px solid #b2b2b2;
}
.app-detail .ticket .top .fa {
    float: right;
    position: relative;
    font-size: 24px;
    top: 3px;
}
.app-detail .ticket .list {
    background-color: #fff;
}
.app-detail .ticket .list li {
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
}
.app-detail .ticket .list li:last-child {
    border-bottom: none;
}
.app-detail .ticket .list li:before, .app-detail .ticket .list li:after {
    content: '';
    clear: both;
}
.app-detail .ticket .list div {
    height: inherit;
    overflow: hidden;
}
.app-detail .ticket .type {
    float: left;
    padding: 13px 0;
    max-width: 100px;
}
.app-detail .ticket .type h4 {
    color: #333;
}
.app-detail .ticket .type p {
    font-size: 11px;
    color: #adadad;
    margin-top: 5px;
}
.app-detail .ticket .price {
    float: right;
    font-size: 18px;
    color: #3474ba;
    font-weight: bold;
    line-height: 60px;
    margin-right: 20px;
}
.app-detail .ticket .price span:last-child {
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 3px;
}
.app-detail .ticket .num {
    word-spacing: pre;
    padding: 13px 0;
    float: right;
}
.app-detail .ticket .num span {
    display: inline-block;
    text-align: center;
    border: 1px solid #adadad;
    line-height: 32px;
    padding: 0 10px;
}
.app-detail .ticket .num span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.app-detail .ticket .num span:nth-child(2) {
    border-left: 0;
    border-right: 0;
    color: #333;
    font-weight: bold;
    padding: 0 15px;
}
.app-detail .ticket .num span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.app-detail .ticket .buy-list {
    background: #fff;
    padding: 10px 0;
}
.app-detail .ticket .buy-list li {
    padding: 0 20px;
}
.app-detail .ticket .buy-list .password {
    height: 14px;
}
.app-detail .ticket .buy-list .card {
    height: 64px;
    margin-top: 10px;
}
.app-detail .ticket .buy-list .left {
    float: left;
}
.app-detail .ticket .buy-list .right {
    float: right;
    width: 50px;
}
.app-detail .ticket .buy-list li:before, .app-detail .ticket .buy-list li:after {
    content: '';
    clear: both;
}
.app-detail .ticket .left {
    height: inherit;
    width: calc(100% - 50px);
}
.app-detail .ticket .left:before, .app-detail .ticket .left:after {
    content: '';
    clear: both;
}
.app-detail .ticket .right {
    text-align: right;
}
.app-detail .ticket .card .right {
    line-height: 64px;
    font-size: 30px;
    font-weight: bolder;
}
.app-detail .ticket .password .left {
    text-align: right;
}
.app-detail .ticket .card-left {
    float: left;
    background: url(/img/ticket_left.png);
    background-size: cover;
    width: 20px;
    height: inherit;
}
.app-detail .ticket .card-center {
    float: left;
    width: calc(100% - 40px);
    height: inherit;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    padding: 7px 0;
}
.app-detail .ticket .card-right {
    background: url(/img/ticket_right.png);
    background-size: cover;
    width: 20px;
    height: inherit;
    float: right;
}
.app-detail .ticket .buy-list .type {
    padding: 9px 0;
}
.app-detail .ticket .buy-list .price {
    margin-right: 0;
    border-left: 1px solid #e5e5e5;
    line-height: 48px;
    padding-left: 10px;
}
.app-detail .ticket-dropback {
    z-index: 96 !important;
}
/*订单样式*/

.app-order .app-content {
    background-color: #eceef1;
    overflow: hidden;
}
.app-order .activity-info {
    padding: 17px 15px 0;
    font-size: 15px;
    background-color: #fff;
}
.app-order .activity-info p {
    font-size: 12px;
    color: #adadad;
    margin-top: 10px;
}
.app-order .tickets-info {
    background-color: #fff;
    padding: 13px 15px 0;
}
.app-order .table {
    width: 100%;
}
.app-order .table tr:last-child td {
    padding: 15px 0;
}
.app-order .table tr td {
    padding: 5px 0;
}
.app-order .table tr td:nth-child(2) {
    width: 20%;
    text-align: left;
}
.app-order .table tr td:last-child {
    width: 30%;
    text-align: right;
}
.app-order .table tr td:last-child label {
    color: #3474ba;
}
.app-order .split {
    height: 13px;
    background: url(/img/bg_bottom.png);
}
.app-order .total-money {
    font-size: 17px;
    color: #e04400;
    margin: 0 5px;
    font-weight: bold;
}
.app-order .user-info {
    padding: 15px;
    color: #7d7d7d;
}
.app-order .user-info li {
    padding: 10px 12px;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
    line-height: 24px;
}
.app-order .label-control {
    padding-right: 15px;
    display: inline-block;
    border-right: 1px solid #e1e1e1;
}
.app-order .input-control {
    display: inline-block;
    line-height: 24px;
    width: calc(100% - 48px);
    outline: none;
    padding-left: 10px;
}
.app-order .input-control input {
    width: 100%;
    height: 24px;
    border: 0;
    outline: none;
    padding: 0;
    font-size: 14px;
    color: #7d7d7d;
}
.app-order .information {
    padding: 15px;
}
.app-order .information a {
    float: right;
    color: #3474ba;
}
.app-order .btn-pay {
    color: #fff;
    background-color: #3474ba;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
}
