<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>姓名</string>
	</dict>
	<dict>
		<key>key</key>
		<string>单位</string>
	</dict>
	<dict>
		<key>key</key>
		<string>职务</string>
	</dict>
</array>
</plist>
