<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>微链</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.chuansongmen.welianos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5e4e9a58776baed3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.7</string>
	<key>KBMK_Key</key>
	<string>SGVj9LFpiZlCfyX5MgcIozdu</string>
	<key>KGTAppId</key>
	<string>FJMYq8FQuT8tkyPCTKavD3</string>
	<key>KGTAppKey</key>
	<string>CSC0bLaL7J6wIHC0a9EYJ9</string>
	<key>KGTAppSecret</key>
	<string>tMBHhQ9iMJ6CAti03m4z93</string>
	<key>KPlatformType</key>
	<string>ios-app</string>
	<key>KWeChatAppId</key>
	<string>wx5e4e9a58776baed3</string>
	<key>KWeChatAppSecret</key>
	<string>1272e0c65919830d1fffa9ca098f6a72</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<true/>
	<key>ShareSDKAppKey</key>
	<string>507798c0a08e</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UMENG_APPKEY</key>
	<string>545c8c97fd98c59807006c67</string>
	<key>UMENG_ChannelId</key>
	<string></string>
</dict>
</plist>
