<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[微笑]</string>
	<string>[色]</string>
	<string>[酷]</string>
	<string>[大哭]</string>
	<string>[害羞]</string>
	<string>[闭嘴]</string>
	<string>[睡]</string>
	<string>[尴尬]</string>
	<string>[发怒]</string>
	<string>[眨眼]</string>
	<string>[调皮]</string>
	<string>[呲牙]</string>
	<string>[吃惊]</string>
	<string>[难过]</string>
	<string>[抓狂]</string>
	<string>[吐]</string>
	<string>[偷笑]</string>
	<string>[愉快]</string>
	<string>[流汗]</string>
	<string>[大笑]</string>
	<string>[奋斗]</string>
	<string>[咒骂]</string>
	<string>[疑问]</string>
	<string>[嘘]</string>
	<string>[晕]</string>
	<string>[衰]</string>
	<string>[敲打]</string>
	<string>[再见]</string>
	<string>[抠鼻]</string>
	<string>[鼓掌]</string>
	<string>[左哼哼]</string>
	<string>[右哼哼]</string>
	<string>[鄙视]</string>
	<string>[委屈]</string>
	<string>[快哭了]</string>
	<string>[亲亲]</string>
	<string>[可怜]</string>
	<string>[财]</string>
	<string>[点赞]</string>
	<string>[感冒]</string>
	<string>[黑线]</string>
	<string>[哼]</string>
	<string>[饥饿]</string>
	<string>[惊恐]</string>
	<string>[胜利]</string>
	<string>[思考]</string>
	<string>[生病]</string>
	<string>[斜眼]</string>
	<string>[无语]</string>
	<string>[天使]</string>
	<string>[恶魔]</string>
	<string>[生气]</string>
	<string>[手掌]</string>
	<string>[OK]</string>
	<string>[爱你]</string>
	<string>[耶]</string>
	<string>[弱]</string>
	<string>[戳]</string>
	<string>[真棒]</string>
	<string>[强]</string>
	<string>[皇冠]</string>
	<string>[爱心]</string>
	<string>[心碎]</string>
	<string>[便便]</string>
	<string>[吻]</string>
	<string>[博士]</string>
	<string>[音乐]</string>
	<string>[足球]</string>
	<string>[鲜花]</string>
	<string>[枯萎]</string>
	<string>[猪头]</string>
	<string>[幽灵]</string>
	<string>[礼物]</string>
	<string>[咖啡]</string>
	<string>[蛋糕]</string>
	<string>[苹果]</string>
	<string>[钱]</string>
	<string>[灯泡]</string>
	<string>[太阳]</string>
	<string>[闪电]</string>
	<string>[雪花]</string>
	<string>[下雨]</string>
	<string>[相机]</string>
	<string>[领带]</string>
	<string>[数据线]</string>
	<string>[公文包]</string>
	<string>[飞机]</string>
	<string>[游戏]</string>
	<string>[肥皂]</string>
</array>
</plist>
