<!DOCTYPE html>
<html ng-app="activityList">

<head>
    <meta charset="utf-8">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>活动</title>
    <link href="./css/font.min.css" rel="stylesheet" />
    <link href="http://t.welian.com/app/common/css/common.css" rel="stylesheet" />
    <link href="http://t.welian.com/app/activity/list/list.css" rel="stylesheet" />
</head>

<body ng-controller="ActivityController">
    <div class="search" ng-controller="SearchController" ng-cloak>
        <div class="query time" ng-click="showList('time')">
            <span class="fa fa-calendar"></span>
            <label>时间</label><span class="shape"></span>
        </div>
        <div class="query city" ng-click="showList('city')">
            <span class="fa fa-map-marker"></span>
            <label>{{cityName}}</label><span class="shape"></span>
        </div>
        <div class="list list-time" id="timeList">
            <ul>
                <li ng-repeat="time in times" ng-click="searchTime()" on-loop>{{time.name}}<span class="fa fa-check"></span>
                </li>
            </ul>
        </div>
        <div class="list list-city" id="cityList">
            <ul>
                <li ng-repeat="city in cities" ng-click="searchCity()" on-loop>{{city.name}}<span class="fa fa-check"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content" ng-controller="ListController">
        <ul class="list">
            <li class="loading">
                <img src="http://welianfed.oss-cn-hangzhou.aliyuncs.com/app/loading.png">
            </li>
            <li class="item" ng-repeat="act in activityList" ng-click="goToDetail()" on-loop>
                <figure>
                    <img ng-src="{{act.pic_url}}">
                    <p>已报名</p>
                </figure>
                <div class="right">
                    <div class="title">
                        <h3>{{act.title}}</h3>
                    </div>
                    <div class="right">
                        <div class="title">
                            <h3>{{act.title}}</h3>
                        </div>
                        <div class="info">
                            <label class="time"><span class="fa fa-clock-o"></span><i>{{act.date}}</i><span>{{act.week}}</span>
                            </label>
                            <label class="city"><span class="fa fa-map-marker"></span>{{act.city_name}}</label>
                            <label class="entry"><span ng-if="act.isNotFull"><i>{{act.join}}</i>报名</span><span ng-if="act.isFull">已报满</span>
                            </label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="dropback fade hide" id="dropback"></div>
</body>
<script src="./cordova.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular-touch.min.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/iscroll.js"></script>
<script src="./js/iscroll-probe.js"></script>
<script src="http://t.welian.com/app/common/js/common.js"></script>
<script src="http://t.welian.com/app/common/js/native.js"></script>
<script src="http://t.welian.com/app/activity/list/list.js"></script>

</html>
