<!DOCTYPE html>
<html ng-app="activityDetail">

<head>
    <meta charset="utf-8">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>活动</title>
    <link href="./css/font.min.css" rel="stylesheet" />
    <link href="http://t.welian.com/app/common/css/common.css" rel="stylesheet" />
    <link href="http://t.welian.com/app/activity/detail/detail.css" rel="stylesheet" />
</head>

<body>
    <div class="loading">
        <img src="http://welianfed.oss-cn-hangzhou.aliyuncs.com/app/loading.png">
    </div>
    <div class="detail" ng-controller="DetailController">
        <figure class="box poster">
            <img ng-src="{{detail.orig_pic_url}}">
            <p class="title">{{detail.title}}</p>
        </figure>
        <div class="box sponsor" ng-if="detail.isHaveSponsor">主办方：{{detail.sponsor}}</div>
        <div class="box state">
            <div class="property time">
                <i class="fa fa-clock-o"></i>
                <span>{{detail.startTime.date}}</span>
                <span>{{detail.startTime.week}}</span>
                <span>{{detail.startTime.hour}}~{{detail.endTime.hour}}</span>
            </div>
            <div class="property address" ng-click="goToMap()">
                <i class="fa fa-map-marker"></i>
                <span>{{detail.address}}</span>
                <span class="fa fa-chevron-right"></span>
            </div>
            <div class="property status" ng-click="showEntry()">
                <i class="fa fa-users"></i>
                <span>已报名<label class="J_EntryNum">{{detail.join}}</label>人</span>
                <span ng-if="detail.limitNum > 0">/ 限额<label>{{detail.limitNum}}</label>人</span>
                <span class="fa fa-chevron-right"></span>
            </div>
        </div>
        <div class="box content" ng-bind-html="detail.content"></div>
        <div class="box guest" ng-if="detail.isHaveGuest">
            <h4>嘉宾</h4>
            <ul class="guest-list" ng-repeat="g in detail.guest">
                <li class="item">
                    <img ng-src="{{g.avatar}}" class="avatar">
                    <div class="guest-name">{{g.name}}</div>
                    <div class="guest-company"><span>{{g.unit}}</span><span>{{g.position}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="entry-button J_Status">
            <button id="J_EntryButton" ng-click="sign()">我要报名</button>
        </div>
        <div class="ticket J_TicketView" ng-if="isBuy">
            <div class="top" check="up" ng-click="showTickets()">查看我的门票<span class="fa fa-angle-double-up"></span>
            </div>
            <ul class="buy-list">
                <li class="card" ng-repeat="t in buyTickets" on-loop>
                    <div class="left">
                        <div class="card-left"></div>
                        <div class="card-center">
                            <div class="type">
                                <h4>{{t.name}}</h4>
                                <p>{{t.intro}}</p>
                            </div>
                            <div class="price">
                                <span>{{t.price}}</span><span>元</span>
                            </div>
                        </div>
                        <div class="card-right"></div>
                    </div>
                    <div class="right">×{{t.num}}</div>
                </li>
            </ul>
        </div>
        <div class="ticket J_TicketView" ng-if="isNew">
            <div class="top" check="up" ng-click="showTickets()">选择门票种类<span class="fa fa-angle-double-up"></span>
            </div>
            <ul class="list">
                <li ng-repeat="t in newTickets" on-loop>
                    <div class="type">
                        <h4>{{t.name}}</h4>
                        <p>{{t.intro}}</p>
                    </div>
                    <div class="num">
                        <span ng-click="minus()"><i class="fa fa-minus"></i></span><span>{{t.num}}</span><span ng-click="plus()"><i class="fa fa-plus"></i></span>
                    </div>
                    <div class="price">
                        <span>{{t.price}}</span><span>元</span>
                    </div>
                </li>
                <li ng-if="isNoticket">
                    门票已经售罄。
                </li>
            </ul>
        </div>
    </div>
    <div class="dropback in J_TicketDropback"></div>
</body>
<script src="./cordova.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular-touch.min.js"></script>
<script src="./js/angular-sanitize.min.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="http://t.welian.com/app/common/js/common.js"></script>
<script src="http://t.welian.com/app/common/js/native.js"></script>
<script src="http://t.welian.com/app/activity/detail/detail.js"></script>

</html>
