<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>row</key>
			<string></string>
			<key>name</key>
			<string>观点</string>
			<key>icon</key>
			<string>discovery_viewpoint.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string></string>
			<key>name</key>
			<string>活动</string>
			<key>icon</key>
			<string>discovery_calendar.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>投资人</string>
			<key>icon</key>
			<string>discovery_tou.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>人才</string>
			<key>icon</key>
			<string>discovery_person.png</string>
		</dict>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>name</key>
			<string>职位</string>
			<key>icon</key>
			<string>discovery_position.png</string>
		</dict>
	</array>
</array>
</plist>
